.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
  }
  #scrollProgress {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    background: #3b82f6; /* Blue */
    width: 0%;
    z-index: 9999;
    transition: width 0.1s ease-out;
  }
  